body {
    background-color: #18191B;
}
.menu-background {
    background-color:#101317;
}
.menu-color {
    font-size: 0.8em;
    font-weight: 400;
    color: #FFFFFF;
}
.text-white {
    color: #FFFFFF;
}







